@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

input::-webkit-search-cancel-button {
  display: none;
}

@layer components {
  .header_icons {
    @apply inline mr-[0.3rem];
  }

  .home__details-text {
    @apply font-semibold sm:text-sm;;
  }

  .country__details-text {
    @apply text-sm mb-4;
  }

  .country__details-text > span:first-child {
    font-weight: 600;
    @apply font-semibold;
  }
}