@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

input::-webkit-search-cancel-button {
  display: none;
}

@layer components {
  .header_icons {
    display: inline;
    margin-right: 0.3rem;
  }

  .home__details-text {
    font-weight: 600;
  }

  @screen sm {
    .home__details-text {
      font-size: 18px;
    }
  }
}